body {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    font-family: "PT Sans", "Arial Narrow", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
a {
    text-decoration: none;
}


/***************************** НАВИГАЦИЯ *****************************/


.header-navigation {
    position: relative;
}
.logo-sedona {
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -70px;
}
.header-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    width: auto;
    margin: 0;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.main-navigation li{
    width: 240px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.main-navigation li:nth-child(4n+1),
.main-navigation li:nth-child(4n+2) {
    text-align: left;
}
.main-navigation li:nth-child(4n+3) {
    text-align: right;
    margin-left: auto;
}
.main-navigation li:nth-child(4n+4) {
    text-align: right;
}
.main-navigation a {
    color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}
.main-navigation a:active {
    color: #cacaca;
}
.actual-link a,
.actual-link a:hover,
.actual-link a:focus {
    color: #766357;
}


/***************************** ШАПКА С ФОНОМ НА ГЛАВНОЙ *****************************/


.background-logo {
    background: #2c4646 url(../img/background_photo.jpg) no-repeat;
    background-position-y: -56px;
}
.background-logo::after {
    display: block;
    content: "";
    background: url(../img/polygon.png) no-repeat center 1px ;
    width: 1200px;
    height: 58px;
}
.background-logo img {
    margin-top: 76px;
    margin-bottom: 14px;
}


/***************************** СПИСОК ПРИЧИН ПОСЕТИТЬ СЕДОНУ *****************************/


.presentation {
    margin: 0;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 61px;
}
.presentation .title-presentation {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 28px;
}
.presentation p {
    font-size: 14px;
    line-height: 26px;
}
.subitle-presentation {
    margin-bottom: 0;
    padding-bottom: 50px;
}
.reasons-list {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.type-of-reason {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin: 21px auto
}
.big-reason-1,
.big-reason-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #81b3d2;
    color: #ffffff;
    width: 400px;
    min-height: 256px;
}
.title-of-reason {
    font-size: 21px;
    line-height: 21px;
    padding: 25px 92px 0 92px;
}
.big-reason-1 p,
.big-reason-2 p {
    padding: 0 46px;
    padding-top: 5px;
}
.container-reason-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.container-reason-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.container-reason-1 img,
.container-reason-2 img {
    vertical-align: top;
}
.items-1-reason {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
}
.reason-1-house {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("../img/icon-1.svg") no-repeat;
    background-size: 75px 72px;
    background-position: center 60px;
    padding: 0 50px;
    padding-top: 140px;
}
.reason-1-eat {
    background: url("../img/icon-3.svg") no-repeat;
    background-size: 74px 70px;
    background-position: center 60px;
    padding-top: 139px;
}
.reason-1-souvenir {
    background: url("../img/icon-2.svg") no-repeat;
    background-size: 64px 76px;
    background-position: center 55px;
    padding-top: 139px;
}
.reason-1-house p {
    padding: 0 20px;
    padding-top: 3px;
    padding-bottom: 68px;
}
.reason-1-eat p {
    padding: 0 50px;
    padding-top: 3px;
}
.reason-1-souvenir p {
    padding: 0 20px;
    padding-top: 3px;
}
.reason-1-house,
.reason-1-eat,
.reason-1-souvenir,
.small-reason-1,
.small-reason-2,
.small-reason-3 {
    max-width: calc(100% / 3);
}
.small-reason-1,
.small-reason-2,
.small-reason-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #eeeeee;
    padding-bottom: 45px;
}
.small-reason-1 h3,
.small-reason-2 h3,
.small-reason-3 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding: 0 120px;
    padding-top: 26px;
    text-align: center;
}
.small-reason-1 p,
.small-reason-2 p {
    padding: 0 69px;
    padding-top: 5px;
}
.small-reason-3 p {
    padding: 0 75px;
    padding-top: 5px;
}


/***************************** ФОРМА ПОИСКА ОТЕЛЕЙ *****************************/


.container-form-preview {
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}
.search-form-subtitle-1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
    padding-top: 49px;
    padding-left: 70px;
    padding-right: 70px;
}
.search-form-subtitle-2 {
    line-height: 24px;
    text-align: center;
    padding-bottom: 34px;
    padding-top: 2px;
    padding-left: 70px;
    padding-right: 70px;
}
.button-close-form {
    position: relative;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    width: 568px;
    padding:30px 50px;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
.button-close-form:hover,
.button-close-form:focus {
    background-color: #604e43;
    color: #ffffff;
}
.button-close-form:active {
    background-color: #503e33;
    color: #928a85;
}
.container-search-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 316px;
}
.search-form {
    position: absolute;
    z-index: 2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    background-color: #ffffff;
    padding: 55px;
    padding-top: 53px;
    text-align: left;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
@-webkit-keyframes hidden-form-animation {
    to {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px)
    }
}
@keyframes hidden-form-animation {
    to {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px)
    }
}
@-webkit-keyframes show-form-animation {
    from {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes show-form-animation {
    from {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
}
@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
}
.search-form-show {
    -webkit-animation-name: show-form-animation;
            animation-name: show-form-animation;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.search-form-hidden {
    -webkit-animation-name: hidden-form-animation;
            animation-name: hidden-form-animation;
    -webkit-animation-duration: 700ms;
            animation-duration: 700ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.form-error {
    -webkit-animation: shake 0.4s;
            animation: shake 0.4s;
}
.date-form-element,
.number-form-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.date-form-element {
    margin-bottom: 30px;
}
.date-form-element label,
.number-form-element label {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 112px;
    letter-spacing: 0.4px;
}
.children {
    padding-left: 50px;
    margin-right: 3px;
}
.number-form-element {
    width: 50%;
}
.block-number-form-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
}
.input-date,
.input-number {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    min-height: 38px;
    padding: 13px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.input-date {
    width: 308px;
    text-align: left;
    padding: 6px;
    padding-left: 12px;
}
.input-number {
    width: 38px;
    text-align: center;
    padding: 6px;
}
.input-date:hover,
.input-number:hover {
    background-color: #ebebeb;
}
.input-date:focus,
.input-number:focus,
.input-date:active,
.input-number:active {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}
.button-calendar {
    border: none;
    outline: none;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    fill: #cacaca;
    background-color: #f2f2f2;
    cursor: pointer;
}
.button-calendar:hover,
.button-calendar:focus {
    fill: #000000;
}
.button-calendar:active {
    fill: #81b3d2;
}
.button-minus-plus {
    border: none;
    outline: none;
    width: 38px;
    height: 38px;
    font-size: 23px;
    font-weight: bold;
    line-height: 26px;
    color: #a9a9a9; 
    background-color: #f2f2f2;
    cursor: pointer;
}
.button-minus-plus:hover,
.button-minus-plus:focus {
    color: #000000;
}
.button-minus-plus:active {
    color: #81b3d2;
}
.button-search-result {
    display: block;
    width: 100%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding: 16px 55px;
    margin-top: 55px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.button-search-result:hover,
.button-search-result:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button-search-result:active {
    background-color: #5496bd;
    color: #94b9d2;
}


/***************************** КАРТА СЕДОНА *****************************/


.map-sedona {
    position: relative;
    z-index: 1;
}
.map-sedona iframe {
    position: absolute;
}


/***************************** СТРАНИЦА ПОИСКА ОТЕЛЕЙ *****************************/


.container-hotels {
    text-align: left;
}
.container-hotels ul {
    list-style: none;
}


/***************************** ФИЛЬТР ПОИСКА ОТЕЛЕЙ *****************************/


.form-filter-of-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #2b3d47;
    background-image: url(../img/filter-background.jpg);
    background-position: center -55px;
    color: #ffffff;
    padding: 27px 72px 24px 60px;
}
.fieldset {
    border: none;
}
.list-search-hotels-filter {
    padding: 0;
    margin: 0;
}
.list-search-hotels-filter li {
    padding-left: 25px;
    padding-bottom: 24px;
}
.list-search-hotels-filter li:last-child {
    padding-bottom: 0;
}
.infrastructure,
.hotel-type {
    width: 230px;
}
.check {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    cursor: pointer;
}
.check-input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}
.custom-box {
    position: absolute;
    left: -28px;
}
.custom-box .closedbox {
    fill-opacity: 1;
}
.custom-box .outline,
.custom-box .component-checkmark, 
.custom-box .component-tornbox {
    fill-opacity: 0;
}
.check-input:checked + .custom-box .closedbox {
    fill-opacity: 0;
}
.check-input:checked + .custom-box .component-tornbox,
.check-input:checked + .custom-box .component-checkmark {
    fill-opacity: 1;
}
.check-input:focus + .custom-box .outline {
    fill: #bdbbbc;
    fill-opacity: 1;
}
.check-input:disabled + .custom-box .closedbox {
    fill-opacity: 0.5;
}
.check-input:checked:disabled + .custom-box .component-tornbox,
.check-input:checked:disabled + .custom-box .component-checkmark {
    fill-opacity: 0.5;
}
.form-headings {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 17px;
}
.filter-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 318px;
    margin-left: auto;
}
.filter-range-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 1px;
}
.price-controls {
    position: relative;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-bottom: 20px;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
}
.min-price {
    font: inherit;
    width: 90px;
    padding-left: 66px;
}
.max-price {
    font: inherit;
    width: 90px;
    padding-left: 55px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    margin-left: 1px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.range-toggle-min {
    left: 1px;
}
.range-toggle-max {
    left: 253px;
}
.button-form-display {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    width: 137px;
    min-height: 36px;
    margin-left: 85px;
    border-radius: 2px;
    cursor: pointer;
}
.button-form-display:hover,
.button-form-display:focus {
    background-color: #ffffff;
    color: #000000;
}
.button-form-display:active {
    opacity: 0.8;
}


/***************************** БЛОК СОРТИРОВКИ ОТЕЛЕЙ *****************************/


.sort-found-hotels {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 72px 9px 72px;
}
.container-sort-hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 4px;
    max-width: 85%;
}
.list-for-sort-hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}
.quantity-hotels,
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.1px;
}
.hotel-name {
    padding-right: 50px;
}
.quantity-hotels {
    display: block;
    margin-right: 6px;
    min-width: 120px; 
}
.sort-hotels {
    font-size: 12px;
    line-height: 18px;
    padding-left: 38px;
}
.button-dir-up,
.button-dir-down {
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.button-dir-up {
    bottom: 32px;
    right: 90px;
}
.button-dir-down {
    right: 67px;
    bottom: 33px;
}
.svg-up,
.svg-down {
    fill: #cacaca;
}
.svg-up:hover,
.svg-down:hover,
.svg-up:focus,
.svg-down:focus {
    fill: #231f20;
}
.button-dir-up:active .svg-up,
.button-dir-down:active .svg-down,
.button-dir-active .svg-down {
    fill: #81b3d2;
}
.sort-price,
.sort-type-rate {
    font-size: 12px;
    line-height: 18px;
    padding-right: 33px;
}
.sort-hotels li {
    width: 82px;
}
.sort-price {
    color: #81b3d2;
}
.sort-type-rate a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}
.sort-type-rate a:hover,
.sort-type-rate a:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.sort-type-rate a:active {
    color: #000000;
    border-bottom: none;
}


/***************************** БЛОК С РЕЗУЛЬТАТАМИ ПОИСКА ОТЕЛЕЙ *****************************/


.about-hotel img {
    position: absolute;
    vertical-align: top;
    left: 72px;
    top: 30px;
}
.list-found-hotels {
    padding: 0;
    margin: 0;
}
.list-found-hotels li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    padding: 25px 72px 30px 237px;
}
.list-found-hotels li:first-of-type {
    border-top: 1px solid #e5e5e5;
}
.about-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
}
.about-hotel h3 {
    margin: 0;
    width: 700px;
}
.about-hotel-price p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    min-width: 116px;
    max-width: 300px;
    padding-right: 20px;
}
.about-hotel-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 13px;
}
.about-hotel-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about-hotel-buttons p {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}
.hotel-name:active {
    color: #cacaca;
}
.button-hotel-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 3px 18px 3px 16px;
    margin-right: 6px;
    max-width: 200px;
}
.button-hotel-info:hover,
.button-hotel-info:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button-hotel-info:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.button-hotel-reserve {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #766357;
    color: #ffffff;
    padding: 3px 17px;
    max-width: 200px;
}
.button-hotel-reserve:hover,
.button-hotel-reserve:focus {
    background-color: #604e43;
    color: #ffffff;
}
.button-hotel-reserve:active {
    background-color: #503e33;
    color: #928a85;
}
.hotel-rate {
    width: 135px;
    margin-left: auto;
}
.current-rate {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f2f2f2;
    width: 110px;
    text-align: center;
    padding: 3px;
}
.rate-4-stars {
    background-image: url(../img/star.svg);
    width: 89px;
    background-repeat: space;
    font-size: 0;
    margin-top: 3px;
}
.rate-3-stars {
    background-image: url(../img/star.svg);
    width: 65px;
    background-repeat: space;
    font-size: 0;
    margin-top: 3px;
}
.rate-2-stars {
    background-image: url(../img/star.svg);
    width: 41px;
    background-repeat: space;
    font-size: 0;
    margin-top: 3px;
}


/***************************** ФУТЕР *****************************/


.footer-container {
    position: relative;
    z-index: 1;
}
.flex-footer-absolute {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-contacts,
.footer-social,
.footer-website {
    width: calc(100% / 3);
    margin: 0;
    padding: 0;
}
.footer-contacts {
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    padding: 31px 10px 37px 124px;
}
.correct-footer-hotels {
    padding: 31px 4px 31px 130px;
}
.footer-contacts a {
    display: inline-block;
    color: #000000;
    margin-top: 6px;
    letter-spacing: 0.37px;
}
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding-left: 72px;
    padding-top: 36px;
    margin-bottom: 10px;
}
.social-list a {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    font-size: 0;
    margin-right: 6px;
    margin-bottom: 6px;
}
.social-list a:hover,
.social-list a:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.social-list a:active {
    background-color: #5496bd;
    color: #88b6d1;
}
.social-list a:active .icon-twitter,
.social-list a:active .icon-fb,
.social-list a:active .icon-youtube {
    opacity: 0.3;
}
.icon-twitter {
    width: 17px;
    height: 15px;
    padding-top: 17px;
    padding-left: 1px;
    fill: #ffffff;
}
.icon-fb {
    width: 12px;
    height: 22px;
    padding-top: 13px;
    fill: #ffffff;
}
.icon-youtube {
    width: 20px;
    height: 16px;
    padding-top: 16px;
    fill: #ffffff;
}
.footer-website {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 26px;
    padding-right: 40px;
    padding-top: 39px;
}
.logo-html-academy {
    vertical-align: middle;
    fill: #231f20;
    padding-left: 4px;
    padding-bottom: 2px;
}
.logo-html-academy:hover,
.logo-html-academy:focus {
    fill: #81b3d2;
}
.logo-html-academy:active {
    fill: #bdbbbc;
}