body {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    font-family: 'PT Sans', 'Arial Narrow', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
a {
    text-decoration: none;
}

/*НАВИГАЦИЯ*/

.header-navigation {
    position: relative;
}
.logo-sedona {
    position: absolute;
    /* transform: translateX(-50%); */
    margin-left: -70px;
    top: -1px;
}

.header-navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: auto;
    margin: 0;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 5px;
    padding-bottom: 16px;

}
.main-navigation li{
    width: 240px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
    text-align: left;
}
.main-navigation li:nth-child(3) {
    text-align: right;
    margin-left: auto;
}
.main-navigation li:nth-child(4) {
    text-align: right;
}
.main-navigation a {
    color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}
.main-navigation a:active {
    color: #cacaca;
}
.actual-link a,
.actual-link a:hover,
.actual-link a:focus {
    color: #766357;
}

/*ШАПКА С ФОНОМ НА ГЛАВНОЙ*/
.background-logo {
    background: #2c4646 url(../img/background_photo.jpg) no-repeat;
    background-position-y: -56px;
}
.background-logo::after {
    display: block;
    content: "";
    background: url(../img/polygon.png) no-repeat center 1px ;
    width: 1200px;
    height: 58px;
}
.background-logo img {
    margin-top: 76px;
    margin-bottom: 14px;
}

/*СПИСОК ПРИЧИН ПОСЕТИТЬ СЕДОНУ*/
.presentation {
    margin: 0;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 61px;
}
.presentation .title-presentation {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 28px;
}
.presentation p {
    font-size: 14px;
    line-height: 26px;
}
.presentation p:last-child {
    margin-bottom: 0;
    padding-bottom: 36px;
}
.reasons-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.type-of-reason {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}
.big-reason-1,
.big-reason-2 {
    box-sizing: border-box;
    background-color: #81b3d2;
    color: #ffffff;
    width: 400px;
    min-height: 256px;
}
.title-of-reason {
    font-size: 21px;
    line-height: 21px;
    padding: 25px 125px 0 125px;
}
.big-reason-1 p,
.big-reason-2 p {
    padding: 0 46px;
    padding-top: 5px;
}
.container-reason-1 {
    display: flex;
}
.container-reason-2 {
    display: flex;
    flex-direction: row-reverse;
}
.container-reason-1 img,
.container-reason-2 img {
    vertical-align: top;
}
.items-1-reason {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.reason-1-house {
    box-sizing: border-box;
    background: url("../img/icon-1.svg") no-repeat;
    background-size: 75px 72px;
    background-position: center 60px;
    padding: 0 50px;
    padding-top: 139px;
}
.reason-1-eat {
    background: url("../img/icon-3.svg") no-repeat;
    background-size: 74px 70px;
    background-position: center 60px;
    padding-top: 139px;
}
.reason-1-souvenir {
    background: url("../img/icon-2.svg") no-repeat;
    background-size: 64px 76px;
    background-position: center 55px;
    padding-top: 139px;
}
.reason-1-house p {
    padding: 0 20px;
    padding-top: 3px;
    padding-bottom: 68px;
}
.reason-1-eat p {
    padding: 0 50px;
    padding-top: 3px;
}
.reason-1-souvenir p {
    padding: 0 20px;
    padding-top: 3px;
}
.reason-1-house,
.reason-1-eat,
.reason-1-souvenir,
.small-reason-1,
.small-reason-2,
.small-reason-3 {
    width: calc(100% / 3);
    
}
.small-reason-1,
.small-reason-2,
.small-reason-3 {
    box-sizing: border-box;
    background-color: #eeeeee;
    padding-bottom: 45px;
}
.small-reason-1 h3,
.small-reason-2 h3,
.small-reason-3 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding: 0 120px;
    padding-top: 26px;
    text-align: center;
}
.small-reason-1 p,
.small-reason-2 p {
    padding: 0 69px;
    padding-top: 5px;
}
.small-reason-3 p {
    padding: 0 75px;
    padding-top: 5px;
}


/*ФОРМА ПОИСКА ОТЕЛЕЙ*/
.interesting {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 22px;
    padding-top: 20px;
}
.interesting-text {
    line-height: 24px;
    text-align: center;
    padding-bottom: 34px;
}
.container-form-search {
    display: block;
    width: 568px;
    margin: 0 auto;
}
.button-search-hotel {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    width: 568px;
    padding: 30px 50px;
    
}
.button-search-hotel:hover,
.button-search-hotel:focus {
    background-color: #604e43;
    color: #ffffff;
}
.button-search-hotel:active {
    background-color: #503e33;
    color: #928a85;
}
.form-of-search {
    min-height: 480px;
}
.form-element {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.button-search-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 458px;
    padding: 15px 55px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    
}
.button-search-result:hover,
.button-search-result:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button-search-result:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.text-in-form {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
}
.text-in-form:hover,
.text-in-form:focus {
    background-color: #ebebeb;
}
.text-in-form:active {
    background-color: #ffffff;
}

/*СТРАНИЦА ПОИСКА ОТЕЛЕЙ*/
.container-hotels {
    text-align: left;
}
.container-hotels ul {
    list-style: none;
}

/*ФИЛЬТР ПОИСКА ОТЕЛЕЙ*/
.form-filter-of-search {
    display: flex;
    flex-wrap: wrap;
    background-color: #2b3d47;
    background-image: url(../img/filter_background.jpg);
    color: #ffffff;
    min-height: 217px;
}
.fieldset {
    border: none;
}
.fieldset,
.sort-found-hotels,
.list-for-sort-hotels {
    padding-left: 72px;
    padding-right: 72px;
}
.form-headings {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.button-form-display {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.button-form-display:hover {
    background-color: #ffffff;
    color: #000000;
}
.price-hotels {
    display: flex;
    flex-direction: column;
    width: 328px;
    margin-left: auto;
}

/*БЛОК С РЕЗУЛЬТАТАМИ ПОИСКА ОТЕЛЕЙ*/
.sort-found-hotels {
    display: flex;
}
.list-of-found-hotels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.list-of-found-hotels li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 72px;
    padding-right: 71px;
}
.list-of-found-hotels li:first-of-type {
    border-top: 1px solid #e5e5e5;
}
.about-hotel {
    width: 700px;
    padding-left: 166px;
    padding-top: 23px;
    padding-bottom: 3px;
}
.about-hotel img {
    position: absolute;
    vertical-align: top;
    left: 72px;
    top: 29px;
}
.correct-text-1 {
    display: inline-block;
    margin-right: 32px;
    margin-top: 7px;
}
.correct-text-2 {
    display: inline-block;
    margin-right: 60px;
    margin-top: 8px;
}
.correct-text-3 {
    display: inline-block;
    margin-right: 15px;
    margin-top: 8px;
}
.about-hotel h3{
    margin: 0;
}
.list-for-sort-hotels {
    display: flex;
}
.quantity-hotels,
.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.quantity-hotels {
    padding-top: 8px;
    padding-bottom: 10px;
}
.button-info-reserve {
    padding-left: 166px;
    padding-bottom: 33px;
}
.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}
.hotel-name:active {
    color: #cacaca;
}
.sort-hotels {
    font-size: 12px;
    line-height: 18px;
}
.sort-price {
    color: #81b3d2;
}
.sort-type-rate a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}
.sort-type-rate a:hover,
.sort-type-rate a:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.sort-type-rate a:active {
    color: #000000;
    border-bottom: none;
}
.button-hotel-info {
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 5px 15px;
}
.button-hotel-info:hover,
.button-hotel-info:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button-hotel-info:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.button-hotel-reserve {
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #766357;
    color: #ffffff;
    padding: 5px 20px;
}
.button-hotel-reserve:hover,
.button-hotel-reserve:focus {
    background-color: #604e43;
    color: #ffffff;
}
.button-hotel-reserve:active {
    background-color: #503e33;
    color: #928a85;
}
.hotel-rate {
    width: 135px;
    margin-left: auto;
}
.hotel-rate p:last-of-type {
    background-color: #f2f2f2;
}

/*ФУТЕР*/
.main-footer div {
    display: flex;
    justify-content: space-around;
}
.footer-contacts,
.footer-social,
.footer-website {
    width: calc(100% / 3);
}
.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    padding-left: 124px;
}
.footer-contacts a {
    color: #000000;
}
.footer-social {
    display: flex;
    list-style: none;

}
.social-list a {
    background-color: #81b3d2;
    color: #ffffff;
    vertical-align: middle;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.social-list a:hover,
.social-list a:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.social-list a:active {
    background-color: #5496bd;
    color: #88b6d1;
}
.footer-website {
    font-size: 14px;
    line-height: 26px;
    padding-right: 32px;
}
.footer-website svg {
    vertical-align: middle;
}
.logo-html-academy {
    width: 115px;
    height: 41px;
    fill: #231f20;
}
.logo-html-academy:hover,
.logo-html-academy:focus {
    fill: #81b3d2;
}
.logo-html-academy:active {
    fill: #bdbbbc;
}


