body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', 'Arial Narrow', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.bullet-none {
    list-style: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.main-navigation a {
    color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #cacaca;
}
.actual-link a,
.actual-link a:hover,
.actual-link a:focus {
    color: #766357;
}

.background-logo {
    background-color: #2c4646;
    /*background-image: url(/img/background_photo.jpg);*/;
}

.title-local {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.five-reasons {
    font-size: inherit;
    line-height: 26px;
}

.reasons {
    background-color: #81b3d2;
    color: #ffffff;
}

.interesting {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.interesting-text {
    line-height: 24px;
}

.button-search-hotel {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}
.button-search-hotel:hover,
.button-search-hotel:focus {
    background-color: #604e43;
    color: #ffffff;
}
.button-search-hotel:active {
    background-color: #503e33;
    color: #928a85;
}

.form-element {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.button-search-result {
    vertical-align: middle;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
}
.button-search-result:hover,
.button-search-result:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button-search-result:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.social-network a {
    background-color: #81b3d2;
    color: #ffffff;
    vertical-align: middle;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.text-in-form {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
}
.text-in-form:hover,
.text-in-form:focus {
    background-color: #ebebeb;
}
.text-in-form:active {
    background-color: #ffffff;
}

.social-network a:hover,
.social-network a:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.social-network a:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.website {
    font-size: 14px;
    line-height: 26px;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-more-info a,
.hotel-more-info a:hover,
.hotel-more-info a:focus,
.hotel-more-info a:active {
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.hotel-more-info a {
    background-color: #81b3d2;
    color: #ffffff;
}

.hotel-more-info a:hover,
.hotel-more-info a:focus {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-more-info a:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.hotel-reserve a,
.hotel-reserve a:hover,
.hotel-reserve a:focus,
.hotel-reserve a:active {
    vertical-align: middle;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.hotel-reserve a {
    background-color: #766357;
    color: #ffffff;
}
.hotel-reserve a:hover,
.hotel-reserve a:focus {
    background-color: #604e43;
    color: #ffffff;
}
.hotel-reserve a:active {
    background-color: #503e33;
    color: #928a85;
}

.logo-html-academy {
    width: 115px;
    height: 41px;
    fill: #231f20;
}
.logo-html-academy:hover,
.logo-html-academy:focus {
    fill: #81b3d2;
}
.logo-html-academy:active {
    fill: #bdbbbc;
}